#floatingBarsG, .results {
    display: none;
}
/* The spinner CSS */
#floatingBarsG{
    position: relative;
    width: 3.75rem;
    height: 4.69rem;
    /* Won't need this until I style the rest of the website. */
    /* margin: auto; */
}
.blockG{
    position: absolute;
    background-color: #fff;
    width: 1rem;
    height: 1.44rem;
    border-radius: 8px 8px 0 0;
    transform: scale(0.4);
    animation: fadeG 1.2s infinite normal;
}
#rotate-Go_01{
    left: .5rem;
    top: 11.89rem;
    animation-delay: 0.45s;
    transform: rotate(-90deg);
}
#rotate-Go_02{
    left: 1rem;
    top: 11rem;
    animation-delay: 0.6s;
    transform: rotate(-45deg);
}
#rotate-Go_03{
    left: 1.9375rem;
    top: 10.6875rem;
    animation-delay: 0.75s;
    transform: rotate(0deg);
}
#rotate-Go_04{
    right: 60rem;
    top: 11.2rem;
    animation-delay: 0.9s;
    transform: rotate(45deg);
}
#rotate-Go_05{
    right: 59.625rem;
    top: 12.08rem;
    animation-delay: 1.05s;
    transform: rotate(90deg);
}
#rotate-Go_06{
    right: 60.15rem;
    bottom: 18rem;
    animation-delay: 1.2s;
    transform: rotate(135deg);
}
#rotate-Go_07{
    bottom: 17.80rem;
    left: 1.75rem;  
    animation-delay: 1.35s;
    transform: rotate(180deg);
}
#rotate-Go_08{
    left: .875rem;
    bottom:18.1rem;
    animation-delay: 1.5s;
    transform: rotate(-135deg);
}
@keyframes fadeG {
    0%{
        background-color: rgb(0,0,0);
    }
    100%{
        background-color: rgb(255,255,255);
    }
}
