.results{
    display: none;
}
.loading{
    color: purple;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.loading div {
    transform-origin: 32px 32px;
    animation: spinner 1.2s linear;
}