*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}
body{
    padding: 2rem;
    box-sizing: border-box;
    background-color: #242424;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    border-radius: 1rem;
    justify-content: center;
    background-color: #fff;
}
.card{
    display: flex;
    flex-direction:column;
    padding: 1rem;
    text-align: center;
    font-size: 1.7rem;
}
#years{
    margin-left: 1.60rem;
}
#loading, .results {
    display: none;
}
/* The spinner CSS */
#loading{
    position: relative;
    width: 3.75rem;
    height: 4.69rem;
    margin: auto;
}
.blockG{
    position: absolute;
    background-color: #fff;
    width: 1rem;
    height: 1.44rem;
    border-radius: 8px 8px 0 0;
    transform: scale(0.4);
    animation: fadeG 1.2s infinite normal;
}
#rotate-Go_01{
    left: .5rem;
    top: 1.89rem;
    animation-delay: 0.45s;
    transform: rotate(-90deg);
}
#rotate-Go_02{
    left: 1rem;
    top: 1rem;
    animation-delay: 0.6s;
    transform: rotate(-45deg);
}
#rotate-Go_03{
    left: 1.9375rem;
    top: 0.6875rem;
    animation-delay: 0.75s;
    transform: rotate(0deg);
}
#rotate-Go_04{
    top: 1.2rem;
    left: 3rem;
    animation-delay: 0.9s;
    transform: rotate(45deg);
}
#rotate-Go_05{
    top:2.10rem;
    left:3.20rem;
    animation-delay: 1.05s;
    transform: rotate(90deg);
}
#rotate-Go_06{
    right: 0;
    bottom: 1px;
    animation-delay: 1.2s;
    transform: rotate(135deg);
}
#rotate-Go_07{
    bottom:-.32rem;
    left: 1.75rem;
    animation-delay: 1.35s;
    transform: rotate(180deg);
}
#rotate-Go_08{
    left: .7rem;
    bottom: .3rem;
    animation-delay: 1.5s;
    transform: rotate(-135deg);
}
@keyframes fadeG {
    0%{
        background-color: rgb(0,0,0);
    }
    100%{
        background-color: rgb(255,255,255);
    }
}
